<h2>VISIOCOM</h2>
<br/>
<p>
    Notre objectif est de centraliser les outils de gestion de projet. Nous avons pour but de faire un outil d’optimisation de la communication autour d’un projet. 
    A travers des fonctionnalités diverses, cet outil devra pouvoir assister les rôles de développeur et gestionnaire de projet (coach / chef de projet). 
</p>    

<p> 
    Le projet va s’orienter autour des tâches, chaque module (Agenda, Wiki, Gestion de commit, …) et chaque élément du module sera/pourra être lié à une ou plusieurs 
    tâches.
</p>

<p>
    Dans une première partie le projet se concentre sur la connexion et le lien avec les tableaux de bords sur Trello.
</p>