

<!-- Lists container -->
	<div class="list">

		<h3 class="list-title">{{list.name}}</h3>

		<ul class="list-items">
			<li>Complete mock-up for client website</li>
			<li>Email mock-up to client for feedback</li>
			<li>Update personal website header background image</li>
			<li>Update personal website heading fonts</li>
			<li>Add google map to personal website</li>
			<li>Begin draft of CSS Grid article</li>
			<li>Read new CSS-Tricks articles</li>
			<li>Read new Smashing Magazine articles</li>
			<li>Read other bookmarked articles</li>
			<li>Look through portfolios to gather inspiration</li>
			<li>Create something cool for CodePen</li>
			<li>Post latest CodePen work on Twitter</li>
			<li>Listen to new Syntax.fm episode</li>
			<li>Listen to new CodePen Radio episode</li>
		</ul>

		<button class="add-card-btn btn">Add a card</button>

	</div>
<!-- End of lists container -->