<h1>À propos de ce logiciel</h1>
<hr>
<p>Visiocom est un outil destiné à l'optimisation de la communication en équipe autour de projets.</p>
<p>Ce progiciel utilise une approche modulaire: les besoins des équipes pouvant grandement varier 
d'un projet à l'autre, la modularité permet d'utiliser seulement les modules nécessaires.</p>
<p>L'utilisation de technologies orientées Web se justifie aujourd'hui par l'utilisation de 
multiples types d'appareils pour la communication: smartphones, tablettes, ordinateurs fixes et 
portables, etc..<br>
L'application "responsive" utilisant un navigateur est donc pertinente dans la mesure où elle 
permet l'accès sur tout type d'appareil (pas de dépendance au matériel) à des données distantes 
distribuées par des services décentralisés.</p>
<p>Réalisé par Avetta-Raymond Damien, Goyat Corentin, Pouzelgues Audric, Sannac Kevin, Vivier Alexis.</p>