<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h1>Visiocom</h1>
    </div>

    <ul class="list-unstyled components">
        <p>Facilitateur de communication</p>
        <li id="home">
            <a [routerLink]="['home']" routerLinkActive="router-link-active">Accueil</a>
        </li>
        <li id="about">
            <a [routerLink]="['about']">À propos</a>
        </li>
        <li id="profile">
            <a [routerLink]="['user/profil']">Mon profil</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">

        <li><a class="article" [routerLink]="['/user/connexion']" routerLinkActive="router-link-active">Connexion</a></li>
    </ul>
</nav>